@mixin centerRow{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@mixin centerColumn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin spaceBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@mixin forMobile {
  @media (min-width: 300px) and (max-width: 767.98px) {
    @content;
  }
}


@mixin forLargeMobile {
  @media (min-width:400px){
    @content;
  }
}

@mixin forTablet {
  @media (min-width:768px){
    @content;
  }
}

@mixin forDesktop {
  @media (min-width:1024px){
    @content;
  }
}

@mixin forLargeDesktop {
  @media (min-width:1515px){
    @content;
  }
}