// Media queries mobile
@mixin mobile {
  @media (min-width: 199.99px) and (max-width: 767.99px) {
    @content;
  }
}

// Media queries tablette
@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023.99px) {
    @content;
  }
}
