.accueil {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  


  &__content {
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;

    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title { font-size: 3rem; font-weight: 900; margin-bottom: 1rem; }
  &__subtitle { font-size: 1.5rem; margin-bottom: 2rem; }
  &__btn { padding: 1rem 2rem; border-radius: 50px; text-decoration: none; font-weight: 600; color: #007bff; background: #fff; transition: all 0.3s ease;
    &:hover { background: #ffc107; transform: scale(1.05); }
  }
}
