@import '../breakpoint';

.carousel img {
  max-height: 600px;
  max-width: 600px;
  @mixin forTablet {
    max-height: 600px;
    max-width: 400px;
  }
  @mixin forMobile {
    max-height: 600px;
    max-width: 400px;
  }
}
