@import '../breakpoint';

.contact {
  margin-top: 50px;
  @include forDesktop {
    margin-left: 20px;
  }
  &__title {
    font-size: 32px;
    text-align: center;
    @mixin forTablet {
      font-size: 28px;
    }
    @mixin forMobile {
      font-size: 28px;
    }
  }
}
