@import '../breakpoint';

.home__projects {
  margin-top: 50px;
  width: 100%;
  &__title {
    font-size: 32px;
    text-align: center;
    @mixin forTablet {
      font-size: 28px;
    }
    @mixin forMobile {
      font-size: 28px;
    }
  }
}
