@import '../breakpoint';

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  @mixin forTablet {
    margin-left: 10px;
  }
  &__header {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 100%;
    @mixin forMobile {
      flex-direction: column;
      margin-top: 50px;
      text-align: center;
    }
    &-arrow {
      position: absolute;
      left: 72px;
      top: 178px;
      @mixin forTablet {
        left: 36px;
        top: 123px;
      }
      @mixin forMobile {
        position: static;
      }
    }
    &-title {
      font-family: 'Roboto Slab';
    }
  }
  &__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    @mixin forTablet {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }
    @mixin forMobile {
      display: flex;
      flex-direction: column;
    }
    &-description {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: 80%;
      @mixin forTablet {
        margin-bottom: 50px;
        width: 100%;
      }
      @mixin forMobile {
        margin-bottom: 60px;
        width: 100%;
      }
      &-competences {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-left: 15px;
        @mixin forTablet {
          font-size: 16px;
        }
      }
      &-links {
        display: flex;
        gap: 75px;
        @mixin forMobile {
          align-items: center;
          flex-direction: column;
          gap: 50px;
        }
      }
    }
    &-carrousel {
      align-items: center;
      display: flex;
      width: 100%;
      @mixin forTablet {
        margin-bottom: -10px;
      }
    }
  }
}
