@import '../breakpoint';

.filter__container {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  &-bar {
    border: 2px solid #ccc;
    border-radius: 25px;
    font-size: 18px;
    height: 45px;
    text-align: center;
    max-width: 180px;
  }
}

.grid__project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  justify-content: space-between;
  margin-top: 100px;

  @include forTablet {
    grid-template-columns: 1fr 1fr;
  }

  @include forMobile {
    grid-template-columns: 1fr;
  }

  &__card {
    border: none;
    height: 350px;
    perspective: 1000px;
    width: 100%;

    @include forTablet {
      height: 300px;
    }

    // Hover effect to trigger rotation
    &:hover .grid__project__card-inner {
      transform: rotateY(180deg);
    }

    &-inner {
      position: relative;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
    }

    &-front,
    &-back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
    }

    &-front {
      border: none;
      border-bottom-left-radius: 25px;
      border-top-right-radius: 25px;

      &-img {
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
        filter: brightness(1.2);
        height: 100%;
        object-fit: cover;
        width: 100%;
      }

      &-title {
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 90%;

        @include forMobile {
          font-size: 1rem;
        }
      }
    }

    &-back {
      background: #b4b4b4;
      border: none;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 25px;
      transform: rotateY(180deg);

      &-title {
        text-transform: uppercase;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        padding: 0 10px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: 90%;
      }

      &-desc {
        position: absolute;
        left: 20px;
        top: 120px;
      }

      &-info {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
    }
  }
}
