@import '../breakpoint';

.skills__tools-grid {
  align-items: center;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  @mixin forTablet {
    grid-template-columns: 1fr 1fr;
  }
  & img {
    margin-bottom: 5px;
  }
}
