@import '../breakpoint';
@import '../variables';

.video-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $main-color;
  z-index: -2;
}

/* Le voile par-dessus la vidéo */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background-color 0.4s ease;

  &.light {
    background: rgba(0, 0, 0, 0.3); // voile foncé léger sur fond clair
  }

  &.dark {
    background: rgba(0, 0, 0, 0.6); // voile plus marqué en mode sombre
  }
}

/* Responsive (exemple) */
@include forTablet {
  .video-wrapper {
    height: 100vh;
  }
}

@include forDesktop {
  .video-wrapper {
    height: 100vh;
  }
}
